# Variables principales del bot y de QvaPay
# TELEGRAM_BOT_TOKENS: arreglo principal. El primer elemento es el bot activo principal.
# TELEGRAM_CHANNEL_IDS: arreglo principal. El primer elemento es el canal activo principal.
# QVAPAY_USERNAME: correo o usuario de QvaPay.
# QVAPAY_PASSWORD: contraseña de QvaPay.
# AUTOMATIC_SCAN_SECONDS: segundos entre revisiones automáticas. Recomendado 60.
# ALLOWED_TELEGRAM_IDS: ids autorizados. Solo estos usuarios pueden usar el bot.
# PORT: puerto del servidor.

TELEGRAM_BOT_TOKENS=["8374592796"]
TELEGRAM_CHANNEL_IDS=["-1000000000000"]
QVAPAY_USERNAME=tu_usuario_qvapay
QVAPAY_PASSWORD=tu_password_qvapay
AUTOMATIC_SCAN_SECONDS=60
ALLOWED_TELEGRAM_IDS=[123456789,987654321]
PORT=8080
